{% extends 'blog/base.html' %}

{% block content %}
    <article class="post">
        <aside class="actions">
            {% if user.is_authenticated %}
                {% if not post.published_date %}
                    <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
                {% endif %}
                <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="fa fa-pencil"></span></a>
                <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="fa fa-remove"></span></a>
            {% endif %}
        </aside>
        {% if post.published_date %}
            <time class="date">
                {{ post.published_date }}
            </time>
        {% endif %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
    <hr>
    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
    {% for comment in post.comments.all %}
        {% if comment.approved_comment %}
            <div class="comment">
                <time class="date">
                    {{ comment.created_date }}
                </time>
                <strong>{{ comment.author }}</strong>
                <p>{{ comment.text|linebreaks }}</p>
            </div>
        {% endif %}
    {% empty %}
        <p>No comments here yet <span class="fa fa-frown-o"></span></p>
    {% endfor %}
{% endblock content %}
