{% extends 'blog/base.html' %}
{% load blog_extras %}

{% block content %}
    {% for post in posts %}
        <article class="post">
            <time class="date">
                published: {{ post.published_date }}
            </time>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|truncatechars:200 }}</p>
            <p>
                <em>
                    Comments: {{ post.approved_comments.count }}
                    {% if user.is_authenticated and post.comments.count > post.approved_comments.count %}
                        + <strong>{{ post.comments.count|subtract:post.approved_comments.count }} new</strong>
                    {% endif %}
                </em>
            </p>
        </article>
    {% endfor %}
{% endblock content %}